<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "styles.min.css" %}{% endset %}
      <style>
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/styles.min.css">
    {% endif %}
  </head>

  <body class="bg-ar-lightblue text-gray-900 leading-relaxed tracking-wide flex flex-col pb-12">
    <header class="bg-ar-yellow-2 ">
      <div class="text-center py-2">
        <p class="text-lg">AllRoads Analytics is going away on April 5th, 2024.</p>
      </div>
    </header>

    <nav class="flex items-center justify-between flex-wrap p-6 mx-auto max-w-screen-xl w-full"
    x-data="{ open: false}">
      <a href="/">
        <div class="flex items-center flex-shrink-0 mr-6">
          <img src="/static/android-chrome-192x192.png" class="w-16 mr-2" />
          <div class="text-3xl md:text-4xl leading-7 font-allroads w-0 md:w-max">
            AllRoads
            Analytics
          </div>
        </div>
      </a>

      <div class="block md:hidden">
        <button class="flex items-center px-3 py-2 border rounded border-ar-darkblue text-ar-darkblue"
        @click="open = !open">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>
      <div class="w-full md:flex md:items-center md:w-auto"
      :class="{ 'block shadow-3xl': open, 'hidden': !open }"
      x-cloak>
        <div class="text-md text-center md:space-x-5 md:flex-grow font-bold text-ar-darkblue">
          <a href="/#features" class="block mt-4 md:inline-block md:mt-0 hover:text-white">
            Features
          </a>

          <a href="/#pricing" class="block mt-4 md:inline-block md:mt-0 hover:text-white">
            Pricing
          </a>

          <a href="/#demo" class="block mt-4 md:inline-block md:mt-0 hover:text-white">
            Demo
          </a>

          <a href="https://app.allroadsanalytics.com/" class="block mt-4 md:inline-block md:mt-0 cta">
            Log In
          </a>
        </div>
      </div>
    </nav>

    {{ content | safe }}

    <section id="follow" class="mt-16">
      <div class="flex justify-center gap-3 md:gap-5 text-2xl text-ar-darkblue">
        {% for Account in site.social %}
          <a class="rounded-full h-16 w-16 bg-ar-grey hover:bg-white flex items-center justify-center"
          href="{{ Account.url }}" title="{{ Account.label }}">
            {{ Account.icon | safe }}
          </a>
        {% endfor %}
      </div>
    </section>

    <section id="footer" class="mt-8">
      <div class="flex flex-wrap gap-5 justify-items-center justify-center text-ar-darkblue text-sm">
        <a href="/privacy" class="hover:underline">Privacy</a>
        <a href="/terms-of-service" class="hover:underline">Terms of Service</a>
        <a href="/cookie-usage" class="hover:underline">Cookie Usage</a>
        <a href="/contact" class="hover:underline">Contact Us</a>
      </div>
    </section>

    <!-- Start AllRoads Snippet -->
    <script>
    ! function(e, t, n, a, p, r, s) {
    e[a] || ((p = e[a] = function() {
    p.process ? p.process.apply(p, arguments) : p.queue.push(arguments)
    }).queue = [], p.t = + new Date, (r = t.createElement(n)).async = 1, r.src = "https://cdn.allroadsanalytics.com/allroads.min.js", (s = t.getElementsByTagName(n)[0]).parentNode.insertBefore(r, s))
    }(window, document, "script", "allroads"),
    allroads("init", "ID-timcom", {follow: true}),
    allroads("event", "pageload");
    </script>
    <!-- End AllRoads Snippet -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-216497173-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R2B4E76E6P');
    gtag('config', 'UA-216497173-1');
    </script>
    <!-- end Global site tag (gtag.js) - Google Analytics -->
  </body>
  <script src="/static/app.min.js" defer></script>
</html>
