---
layout: base.njk
title: Contact Us
description:
---

<main id="main">
	<div class="container mx-auto min-h-screen md:mt-3 mb-8">
    <div class="p-6 max-w-screen-md mx-auto md:rounded bg-ar-grey shadow">
      <h1 class="text-3xl mb-5 font-allroads">
        Contact Us
      </h1>

      <div class="mt-3 space-y-4">
        <div>
          Please feel free to contact us with any questions or comments at
          <a class="link" href="mailto:help@allroadsanalytics.com">help@allroadsanalytics.com</a>.
        </div>
      </div>
    </div>
  </div>
</main>