---
layout: base.njk
title:
description: Easily track lead/sales funnels across all your sites. Explore user journeys, without setting-up funnels ahead of time.
---

<main id="main">
	<div class="container mx-auto min-h-screen md:mt-3 mb-8">
    <section id="intro">
      <div class="text-center px-3 lg:px-0">
        <h1
          class="my-4 text-4xl font-black leading-tight"
        >
          Track lead/sales funnels across your&nbsp;sites.
        </h1>

        <div
          class="leading-normal text-2xl"
        >
          Explore user journeys, without setting-up funnels ahead of&nbsp;time.
        </div>

        <div class="font-allroads text-4xl mt-6">
          Coming Soon...
        </div>

        {# <div class="text-3xl font-allroads mt-8">
          <a href="https://app.allroadsanalytics.com/"
          class="cta">
            Sign Up
          </a>
        </div> #}
      </div>

      <div class="flex items-center w-full mx-auto max-w-screen-lg content-end mt-4">
        <div
          class="browser-mockup flex flex-1 justify-center m-6 md:px-0 md:m-12 py-4 bg-ar-grey w-1/2 rounded shadow-xl"
        >
          <img class="hidden md:block" src="/static/img/funnel_screenshot.png" />
          <img class="md:hidden w-full px-2" src="/static/img/funnel_screenshot_mobile.png" />
        </div>
      </div>
    </section>

    <section id="pricing" class="mt-8 mx-3">
      <h2 class="text-4xl text-center mb-5 font-allroads">
        Pricing
      </h2>

      <div class="grid grid-cols-1 lg:grid-cols-5 gap-3">
        {% for Plan in site.plans %}
          <div class="border rounded bg-white pb-5">
            <div class="text-2xl py-2 text-center bg-ar-grey border-b font-bold">
              {{ Plan.label }}
            </div>

            <div class="mt-3 text-center text-xs">
              <span class="text-4xl font-bolder">
                ${{ Plan.monthly_price }}
              </span>
              / month
            </div>

            <div class="grid grid-cols-1 gap-3 mt-4 px-4 lg:px-3 text-sm">
              <div>
                  <i class="fas fa-filter mr-1"></i>
                  {{ Plan.limit_funnels if Plan.limit_funnels else 'Unlimited' }} saved funnels
              </div>

              <div>
                  <i class="fas fa-calendar mr-1"></i>
                  {{ Plan.limit_data_view_days + ' days' if Plan.limit_data_view_days else 'Unlimited' }} data retention
              </div>

              <div>
                  <i class="fas fa-users mr-1"></i>
                  {{ Plan.limit_users if Plan.limit_users else 'Unlimited' }} users
              </div>

              <div>
                  <i class="fas fa-eye mr-1"></i>
                  {{ Plan.limit_pageviews_per_month }} pageviews per month
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {# <div class="text-3xl font-allroads mt-8 text-center">
        <a href="https://app.allroadsanalytics.com/"
        class="cta px-6 py-4">
          Get Started
        </a>
      </div> #}
    </section>

    <section id="follow" class="mt-16">
      <div class="flex justify-center gap-3 md:gap-5 text-2xl text-ar-darkblue">
        {% for Account in site.social %}
          <a class="rounded-full h-16 w-16 bg-ar-grey hover:bg-white flex items-center justify-center"
          href="{{ Account.url }}" title="{{ Account.label }}">
            {{ Account.icon | safe }}
          </a>
        {% endfor %}
      </div>
    </section>
  </div>
</main>