---
layout: base.njk
title: Privacy
description:
---

<main id="main">
	<div class="container mx-auto min-h-screen md:mt-3 mb-8">
    <div class="p-6 max-w-screen-md mx-auto md:rounded bg-ar-grey shadow">
      <h1 class="text-3xl mb-5">
        Privacy
      </h1>

      <div class="mt-3 space-y-4">
        <div>
          AllRoads Analytics is a property of
          Bokonon Ventures LLC
          ("We", "Us", "Our").
        </div>

        <div>
          We never share user's personal data with 3rd parties.
        </div>

        <div>
          The data collected depends on whether the user is a visitor to allroadsanalytics.com ("Site", "Our Site") or a user of a site which uses the AllRoads Analytics service. Both will be covered, in separate sections, below.
        </div>


        <h2 class="text-xl pt-4 font-bold">Data collected from allroadsanalytics.com visitors</h2>

        <div>
          When someone visits allroadsanalytics.com, We may store the website they visited Us from, the parts of Our Site they visit, the date and duration of the visit, and information from the device (e.g. device type, operating system, screen resolution, language, country You are located in, and web browser type) used during their visit. We process this usage data to facilitate access to Our Site (e.g. to adjust Our Site to the devices that are used).
        </div>

        <div>
          We temporarily store IP addresses of visitors to Our Site for associated performance metrics and to monitor and track application errors. We will never access these IP addresses without any operational or security need.
        </div>

        <div>
          Cookies are used to maintain logged-in sessions on Our Site, collect user-experience metrics, and measure marketing performance.
        </div>

        <div>
          If you wish to obtain a copy of your data, have corrected or deleted, please
          <a class="link" href="mailto:help@alroadsanalytics.com">contact us</a>.
        </div>


        <h2 class="text-xl pt-4 font-bold">Data collected from visitors to sites which use the AllRoads Analytics service</h2>

        <div>
          When a user visits a webpage with the AllRoads Analytics script, no personal information (such as IP address) is collected. The following may be collected:
        </div>

        <div>
          <ul class="list-disc list-inside ml-3">
            <li>Page URL</li>
            <li>Referrer URL</li>
            <li>Visit date, time</li>
            <li>Screen resolution</li>
            <li>Viewport resolution</li>
            <li>Browser used</li>
            <li><a class="link" href="https://en.wikipedia.org/wiki/UTM_parameters">UTM parameters</a></li>
            <li>Sequence of pages visited by user</li>
          </ul>
        </div>

        <div>
          This data is sent to Our servers and is never shared with 3rd parties.
        </div>

        <div>
          Cookies are used to anonymously identify individual users across page views.
          More information about these cookies can be found on the
          <a class="link" href="/cookie-usage">Cookie Usage page</a>.
        </div>

        <div>
          When an end-user visits a site using the AllRoads Analytics service, the site's privacy policy will apply to the data collected; not this document.
        </div>

        <div>
          It is the responsibility of the owners of any site using AllRoads Analytics to ensure that all laws applicable to their site are followed.
        </div>

      </div>
    </div>
  </div>
</main>