---
layout: base.njk
title: Terms of Service
description:
---

<main id="main">
	<div class="container mx-auto min-h-screen md:mt-3 mb-8">
    <div class="p-6 max-w-screen-md mx-auto md:rounded bg-ar-grey bg-opacity-50">
      <h1 class="text-3xl mb-5">
        Terms of Service
      </h1>

      <div class="mt-3 space-y-4">
        <h2 class="text-xl pt-4 font-bold">Definitions</h2>

        <div>
          AllRoads Analytics is a property of
          Bokonon Ventures LLC.
          "We", "Us", and "Our" refers to Bokonon Ventures LLC.
        </div>

        <div>
          The “services” are any software, application, product, or service provided by Us.
        </div>

        <div>
          “The customer", “the user", “you”, and “your” refers to any individual or organization which accesses our services.
        </div>

        <h2 class="text-xl pt-4 font-bold">General</h2>

        <div>By using Our services the customer engages Us to use software to process, analyze, and store site behavior data on behalf of the customer.</div>


        <h2 class="text-xl pt-4 font-bold">Accounts</h2>

        <div>Accounts are only available to users 13 years of age or older, or the minimum age for accessing internet services in their country, whichever is older. Accounts registered through automated means are not permitted.</div>

        <div>You are responsible for your account, any activity performed with it, and the security of your account credentials.</div>

        <div>We require an email address to register an account. This email address must be kept up-to-date and we must be able to reach you for official communication at this address. If we are unable to reach you, your account may be terminated.</div>

        <div>It is your responsibility to ensure that all local laws regarding data collection are followed.</div>


        <h2 class="text-xl pt-4 font-bold">Billing</h2>

        <div>
          For paid plans, the customer is billed immediately for the displayed term.

          Invoices will be sent to the Customer at the beginning of the billing cycle via electronic mail and must be paid within thirty (30) days of receipt.  If payments on undisputed amounts are not received within thirty (30) days, We reserve the right to suspend access to the services.

          No refunds are given for partial service or when you request your services to be downgraded. In the event that your services are downgraded, you are billed the reduced price at the start of the next billing term.
        </div>


        <h2 class="text-xl pt-4 font-bold">Termination</h2>

        <div>
          Without prejudice to any other rights, We may terminate the customer's subscription and/or account for any or no reason and at any time, with refunds provided for the remaining term of current billing cycle.
        </div>


        <h2 class="text-xl pt-4 font-bold">Limitation of Liability</h2>

        <div>
          The services are provided "as is" and in no event shall We or any of Our representatives be liable to you or any third party for any direct, indirect, special, exemplary, punitive or other consequential or incidental damages (including but not limited to any lost profits or revenue, interruption, loss of programs or other information, or any other measurable loss) arising directly or indirectly from: (i) Your use of or access to the services, or any content, products or services distributed on or provided through the services, (ii) for any failure or interruption of the services; whether arising out of errors, omissions, loss of data, defects, viruses, interruptions or delays in operations or transmission or any other cause, whether based on warranty, contract, tort (including negligence) or any other legal theory, even if We or Our suppliers have been expressly advised of the possibility of such damages.
        </div>

        <div>This limitation of liability does not apply to direct damages for which We are liable due to Our violation of a third party's intellectual property rights.</div>

        <div>These limitations do not apply in case We have willfully caused the damage.</div>


        <h2 class="text-xl pt-4 font-bold">Changes to these Terms of Service</h2>

        <div>
          We may make changes to these terms with at least two weeks notice. Notice will be sent to the email on file for your account.
        </div>
      </div>
    </div>
  </div>
</main>